body{
    margin: 10px;
}
#products {
    color: orangered;
}
.product{
    color: hotpink;
}
a[href^="https"]{
    color: rebeccapurple;
}
article:first-child{
    font-size: 140%;
    font-style: italic;
}
article p:first-of-type {
    font-size: 140%;
    font-style: italic;
}
article p:last-of-type {
    font-weight: bold;
    color: palegoldenrod;
}
article:last-child {
    font-weight: bold;
    color: orange;
}
ul li:nth-child(odd){
    color: deeppink;
}
a:visited, a:link {
    color: darkgreen;
    font-weight: bold;
}
a:hover, a:focus {
    color: darkorchid;
}
p::first-letter {
    font-size: 150%;
    font-weight: bold;
}
p::first-line {
    font-weight: bold;
}
::selection {
    background-color: rgb(241, 171, 208);
}
p::before {
    content: "...";
    display: block;
}
p::after {
    content: "***";
    display: block;
}
h1 {
    color: darkolivegreen;
}
.highlight {
    color: deeppink;
}
.highlight#products {
    color: rgb(137, 22, 22);
}
p {
    color: purple;
    border: 1px solid black;
}
strong {
    color: plum;
    border: inherit;
}
.box {
    width: 200px;
    height: 200px;
    background-color: rgb(4, 181, 122);
}
.box2 {
    width: 200px;
    height: 200px;
    background: linear-gradient(to bottom right, deeppink, gray, rgb(95, 95, 224));
}
.box3 {
    width: 400px;
    height: 200px;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}